* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* color: white; */

  /* border: 1px solid red; */
}

body {
  background-color: rgb(14, 7, 137);
}

h1 {
  text-align: center;
  color: white;
}

#play-x-credits {
  font-size: 48px;
  color: red;
  text-shadow: 1px 1px 0px rgb(246, 239, 70), -1px -1px 0px rgb(246, 239, 70),
    1px -1px 0px rgb(246, 239, 70), -1px 1px 0px rgb(246, 239, 70);
  position: absolute;
  top: 50%; /* Move the element 50% from the top of the container */
  left: 50%; /* Move the element 50% from the left of the container */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust the position to center both horizontally and vertically */
  z-index: 9999;
  background-color: blue;
  padding: 0 20px 0 20px;
}

table {
  color: rgb(246, 239, 70);
  background-color: rgb(6, 3, 87);
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid rgb(246, 239, 70);
  width: 100%;
  max-width: 900px;
  font-size: 20px;
}

td {
  padding: 0 5px;
  white-space: nowrap;
}

td:nth-child(n + 1) {
  border-left: 1px solid rgb(246, 239, 70);
}
/* td:nth-child(6) {
background-color: red;
} */
.poker-hands-column {
  text-align: left;
}

.payout-column {
  text-align: right;
}

#winning-card-combination-played {
  margin: 5px;
  height: 40px;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 0px rgb(246, 239, 70), -1px -1px 0px rgb(246, 239, 70),
    1px -1px 0px rgb(246, 239, 70), -1px 1px 0px rgb(246, 239, 70);
}

.cards-container,
.holds-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  max-width: 900px;
  min-height: 30px;
  margin: 0 auto;
}

/* .cards-container > div {
  margin: 0;
} */

.display-line-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  max-width: 900px;
  margin: 0 auto;
}

#balance-display,
#result-display {
  font-size: 36px;
  width: 250px;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 0px rgb(246, 239, 70), -1px -1px 0px rgb(246, 239, 70),
    1px -1px 0px rgb(246, 239, 70), -1px 1px 0px rgb(246, 239, 70);
}

#bet-display {
  font-size: 24px;
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  background-color: rgb(246, 239, 70);
  border-radius: 0;
  width: 120px;
}

.bet-buttons-container {
  display: flex;
}

.up-down {
  height: 48px;
  width: 30px;
  font-size: 26px;
  padding: 0;
  text-align: center;
}
#bet-input-container {
  display: flex;
  height: 48px;
  width: 60px;
  background-color: whitesmoke;
  justify-content: center; /* Horizontally center the text */
  align-items: center;
}

#bet-input {
  margin: 0;
}

/* footer {
  text-align: center;
  padding: 5px;
} */
